<app-header></app-header>
<main>
  <h1>New Car</h1>
  <form>
    <div class="form-field">
      <label for="brand">Brand</label>
      <input type="text" id="brand"/>
    </div>
    <div class="form-field">
      <label for="model">Model</label>
      <input type="text" id="model"/>
    </div>
    <div class="form-field">
      <label for="cubic-cap">Cubic Cap</label>
      <input type="number" id="cubic-cap"/>
    </div>
    <div class="form-field">
      <label for="serial-num">Serial Num</label>
      <input type="text" id="serial-num"/>
    </div>
    <div class="form-field" >
      <label for="type">Type</label>
      <select id="type">

      </select>
    </div>
    <div class="form-field">
      <label for="plates">Plates</label>
      <input type="text" id="plates"/>
    </div>
    <div class="form-field " id="fuel-type">
      <p id='fuel'>Fuel type: <br>
        <input type="radio" id="gasoline" name="fuel-type" value="Gasoline"/>
        <label for="gasoline">Gasoline</label><br>
        <input type="radio" id="diesel-fuel" name="fuel-type" value="Diesel Fuel"/>
        <label for="diesel-fuel">Diesel Fuel</label><br>
        <input type="radio" id="bio-diesel" name="fuel-type" value="Bio-diesel"/>
        <label for="bio-diesel">Bio-diesel</label><br>
        <input type="radio" id="ethanol" name="fuel-type" value="Ethanol"/>
        <label for="ethanol">Ethanol</label><br></p>

    </div>
    <div class="form-field">
      <label for="power">Power</label>
      <input type="number" id="power"/>
    </div>
    <div class="form-field">

      <label for="owner-id">Owner ID</label>
      <select id="owner-id">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>

    </div>
    <div class="action-button">
      <button type="submit">Add car</button>
      <button type="reset">Reset form</button>
    </div>

  </form>
</main>






