<h1>Table</h1>

<table class="table" *ngIf="ownersList.length >0; else emptyResult">
  <tr>
    <th>
      Index
    </th>

    <th id="first-name">
      First Name
    </th>
    <th>
      Last Name
    </th>
    <th>
      CNP
    </th>
    <th>
      Birth Date
    </th>
    <th>
      Gender
    </th>

  </tr>
  <tr class="items" *ngFor="let owner of this.ownersList; let i=index" >

    <td>
      {{i}}
    </td>
    <td>
      {{owner.firstName}}
    </td>
    <td>
      {{owner.lastName}}
    </td>
    <td>
      {{owner.cnp}}
    </td>
    <td>
      {{owner.birtDate}}
    </td>
    <td>
      {{owner.gender}}
    </td>
    <td class="edit-button">
      <button (click)="editOwner(i)">
        Edit
      </button>
    </td>

  </tr>
</table>
<ng-template #emptyResult> Tabelul este gol</ng-template>
